body {
    background-color: #121212;
    color: #ffffff;
  }
  .card {
    color: white;
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
  }
  .card img {
    border-radius: 10px 10px 0 0;
  }
  .form-control, .form-select, .btn-dark {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
  }
  .form-control::placeholder, .form-select {
    color: #b3b3b3;
  }
  .btn-dark:hover {
    background-color: #444;
    border-color: #666;
  }
  .input-group .form-control {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .input-group .btn {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .container-fluid {
    max-width: 600px; /* Adjusted width for forms */
  }
  .pagination .page-item.active .page-link {
    background-color: #444; /* Active page background */
    border-color: #666; /* Active page border */
  }
  .pagination .page-link {
    color: #ffffff; /* Page link text color */
    background-color: #2a2a2a; /* Dark background for links */
  }
  .pagination .page-link:hover {
    background-color: #444; /* Lighter background on hover */
  }