.dropdown-toggle {
    color: white;
    background-color: transparent;
  }
  .white-border
  {
    border:solid 1px white;
  }
  .dropdown-menu {
    border: solid white;
    background-color: #2c3e50;
    color: white;
  }

  .nav-link,
  .dropdown-item {
    font-size: 16px;
    color: white !important;
  }
.navbar-brand img{
    height: 60px;
}
body
{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
.navbar
{
    background-image: url(images/bg.jpg);
    background-position: center;
}
.scroll-icon
{
    height: 40px;
    width: 40px;
    border: 1px solid yellow;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}
.scroll-down
{
    animation: bob is infinite;

}

  .fa {
    font-size: 35px;
    color: yellow;
    font-weight: bolder;
    bottom: 27px;
    text-align: center;
    position: relative;
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:solid rgb(232, 214, 14) 2px;
    animation-name:arrow;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
  }
  

  .get-to-know-us
  {
    background-image: url(images/know-us-bg.png);
    background-size: cover;

  }
  .get-to-know-us img
  {
    max-width: 225px;
  }

  @keyframes arrow {
    0% { bottom: 0; }
    75% { bottom: 50px; }
    100% { bottom: 0; }
  }
  .heading-line
  {
    width: 100%;
  }
.text p
{
  margin: 0px;
  padding: 0px;
}
.halal-row p
{
  font-size: 28px;
  font-weight: bold;
  font-family: monospace;
  color: white;
}
.first-para {
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.second-para {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffd35e;
}
.third-para {
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  color: #ffd35e;
}