.navbar-transparent {
    background-color: transparent !important;
    border: none; /* Optional */
}
.bg-opacity-50 {
    background-color: rgba(0, 123, 255, 1);
}
body
{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}