<style>
      .btn-dark {
      background-color: #2a2a2a; /* Dark background for primary button */
      border-color: #444; /* Dark border */
    }
    .btn-dark:hover {
      background-color: #444; /* Lighter background on hover */
    }
</style>
<h4>Create Category</h4>
<form
  action="/categories/create"
  method="post"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="nameInput"
      placeholder="Enter Category Name"
      required
    />
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea
      name="description"
      class="form-control"
      id="descriptionInput"
      placeholder="Enter Category Description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="imageInput">Upload Image</label>
    <input
      name="image"
      type="file"
      class="form-control"
      id="imageInput"
      accept="image/*"
      required
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark my-5 btn-info">Create Category</button>
  </div>
</form>
